<ion-content [fullscreen]="true" >
  <div id="bg">
    <ion-fab vertical="bottom" edge horizontal="center" slot="fixed" >
      <ion-fab-button color="black" routerLink="/home">
        <ion-icon name="close-circle-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <ion-list lines="none" class="ion-margin">
      <ion-list-header>WELCOME!</ion-list-header>

      <!-- Username field -->
      <ion-item class="ion-margin">
        <ion-input 
          placeholder="Enter Username" 
          type="text" 
          clearInput="true" 
          [(ngModel)]="username" 
          name="username" 
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.submitted && !username">
        *Email is required
      </ion-text>

      <!-- Password field -->
      <ion-item class="ion-margin">
        <ion-input 
          placeholder="Enter Password" 
          type="password" 
          clearInput="true" 
          [(ngModel)]="password" 
          name="password" 
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="loginForm.submitted && !password">
        *Password is required
      </ion-text>

      <!-- Forgot Password -->
      <ion-text color="medium">
        <p class="ion-margin-horizontal">Forgot Password?</p>
      </ion-text>

      <!-- Sign In Button -->
      <div align="right">
        <ion-button 
          shape="round" 
          strong="true" 
          class="ion-margin-end" 
          color="plant" 
          type="submit">
          SIGN IN
          <ion-icon name="log-in" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>