<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
      <ion-icon name="chevron-back-sharp"></ion-icon>
    </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list class="ion-margin ion-text-center">
    <div class="logo-container">
      <img src="assets/icon/Filogo.png" class="logo">
    </div>
    <ion-button color="white" expand="block" shape="round" routerLink="user-login">Login with Username</ion-button>
    
  </ion-list>
</ion-content>